Django==3.0.7
psycopg2==2.8.5
pillow
django-cors-headers
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
flickrapi
# //Keras
PyJWT
python-dotenv
requests
# //scikit-learn
# //tensorflow
